language: ruby
rvm:
  - 2.2
before_script:
  - gem install awesome_bot
script:
  - awesome_bot README.md --allow-redirect --white-list gaearon/flux-react-router-example,JedWatson/react-select,martinandert/react-inline

